.tempInfo {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weatherIcon {
  margin-top: -50px;
  width: 90%;
  max-width: 600px;
}

.weatherDesc {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
}

.weatherTemp {
  margin-top: 50px;
  font-size: 78px;
  font-weight: 700;
}

.weatherTempReal {
  margin-top: -8px;
  font-size: 30px;
  font-weight: 400;
}

.cityName {
  font-size: 18px;
  margin-top: -24px;
  margin-bottom: 24px;
  font-weight: 400;
  display: none;
}

@media only screen and (max-width: 1200px) {
  .weatherIcon {
    margin-top: -80px;
  }
  .weatherDesc {
    margin-top: -90px;
  }

  .weatherTemp {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 764px) {
  .tempInfo {
    max-width: 360px;
  }
  .weatherIcon {
    max-width: 480px;
  }
  .weatherDesc {
    font-size: 28px;
  }

  .weatherTemp {
    font-size: 70px;
  }

  .weatherTempReal {
    font-size: 24px;
  }
}

@media only screen and (max-width: 480px) {
  .cityName {
    display: block;
  }
  .tempInfo {
    max-width: 360px;
  }
  .weatherIcon {
    max-width: 480px;
  }
  .weatherDesc {
    font-size: 24px;
  }

  .weatherTemp {
    font-size: 56px;
  }

  .weatherTempReal {
    font-size: 18px;
  }
}
